<h1 mat-dialog-title>Участники доски:</h1>
<div mat-dialog-content>
  <mat-card *ngFor="let member of repositoryService.Members" class="my-style card" (click)="close(); showMemberInfo(member);">
    <mat-card-header>
      <img mat-card-avatar class="my-style" [src]="member.avatarUrl ? member.avatarUrl : '../../../assets/no_image.png'">
      <mat-card-title class="my-style">{{member.fullName}}</mat-card-title>
      <span class="story">Story points: {{getStorysFromMember(member)}}</span>
    </mat-card-header>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button class="actions" mat-button (click)="close()">Закрыть</button>
</div>
