.actions{
  margin-left: auto;
}

.story{
  border-radius: 4px;

  background: rgba(0, 200, 0, 0.5);

  color: white;
  text-shadow: 0 0 1px white;
  font-weight: 500;
  text-align: center;
  padding: 5px;
}

.content{
  height: 165px;
}
