/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


body{
  margin: 0;

  background: no-repeat url("../src/assets/background.jpg");
}

.text{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #172b4d;
}


.fi-trello{
  width: 20px;
  height: 20px;

  margin-right: 8px;
}

.info{
  margin: 10px;
  padding: 7px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  box-shadow: 0 0 4px rgba(0,0,0,0.1);

  background: white;
}

